@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

header {
  width: 100%;
  height: 120px;
  padding: 50px 10% 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd; }
  header h1 a {
    font: bold 24px/1 'arial';
    color: #333; }
  header ul {
    display: flex;
    gap: 20px; }
    header ul#gnb {
      gap: 40px; }
      header ul#gnb a {
        font: bold 14px/1 'arial';
        color: #777; }
    header ul.sns a {
      font-size: 20px;
      color: #888; }
  header .btnCall {
    display: none; }

/*
  [ 반응형 구현 ]
  모바일 구문에서 꼭 수정해야 하는 것
    - 넓이값이 고정 px인 요소는 가로 폭이 100%가 되도록 퍼센트로 변환
    - 높이값은 고정 px값이라도 상관없음
    - 그러나 가능한 세로관련 높이값과 여백을 줄이는 것을 추천
*/
@media screen and (max-width: 999px) {
  header {
    height: 100px;
    padding: 10px 10%; }
    header h1 {
      position: relative;
      top: -2px; }
      header h1 a {
        font: bold 20px/1 'arial'; }
    header ul {
      display: none; }
    header .btnCall {
      display: block;
      font-size: 20px;
      color: #444; } }
#visual {
  width: 100%;
  height: calc(100vh - 120px);
  background: #111;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10%; }
  #visual video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3; }
  #visual .txt {
    position: relative;
    /*
    	%는 부모요소 기준으로 적용
    	vw, vh는 viewport 기준으로 적용
    */ }
    #visual .txt h1 {
      font-size: 8vw;
      line-height: 1;
      color: #fff;
      margin-bottom: 20px; }
    #visual .txt p {
      width: 70%;
      font: 20px/1.2 'arial';
      color: #888;
      margin-bottom: 80px; }
    #visual .txt a {
      display: inline-block;
      width: 300px;
      height: 30px;
      font: 11px/30px 'arial';
      color: #bbb;
      border: 1px solid #bbb;
      text-align: center; }

@media screen and (max-width: 999px) {
  #visual {
    height: calc(100vh - 100px); }
    #visual .txt h1 {
      font-size: 12vw; }
    #visual .txt p {
      width: 100%; }
    #visual .txt a {
      width: 100%; } }
#vids {
  width: 100%;
  padding: 250px 10% 200px; }
  #vids h1 {
    font: bold 22px/1 'arial';
    color: #444;
    text-align: center;
    margin-bottom: 50px; }
  #vids .wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; }
    #vids .wrap article {
      flex: 1;
      width: 100%; }
      #vids .wrap article .pic {
        width: 100%;
        height: 130px;
        margin-bottom: 15px; }
        #vids .wrap article .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      #vids .wrap article h2 {
        font: bold 16px/1 'arial';
        color: #555;
        margin-bottom: 10px; }
      #vids .wrap article p {
        font: 14px/1.3 'arial';
        color: #888; }

@media screen and (max-width: 999px) {
  #vids {
    padding: 180px 10% 150px; }
    #vids .wrap {
      gap: 20px; }
      #vids .wrap article {
        flex: none;
        width: calc(50% - 10px); } }
@media screen and (max-width: 639px) {
  #vids {
    padding: 140px 10% 120px; }
    #vids .wrap article {
      width: 100%;
      margin-bottom: 30px; } }
#pics {
  width: 100%;
  padding: 200px 10% 150px;
  background: #efefef; }
  #pics h1 {
    text-align: center;
    margin-bottom: 50px; }
  #pics .wrap {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between; }
    #pics .wrap .left {
      width: 30%;
      height: 100%;
      background: #333;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center; }
      #pics .wrap .left > * {
        width: 100%;
        text-align: center; }
      #pics .wrap .left i {
        font-size: 120px;
        color: #eee;
        margin-bottom: 30px; }
      #pics .wrap .left h2 {
        font: bold 18px/1 'arial';
        color: #fff;
        margin-bottom: 5px; }
      #pics .wrap .left p {
        font: 14px/1.2 'arial';
        color: #888;
        margin-bottom: 40px; }
      #pics .wrap .left a {
        width: 200px;
        height: 30px;
        border: 1px solid #aaa;
        font: 12px/30px 'arial';
        color: #aaa; }
    #pics .wrap .right {
      width: calc(70% - 20px);
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-between;
      gap: 20px; }
      #pics .wrap .right article > img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      #pics .wrap .right article:nth-of-type(1) {
        width: calc(50% - 10px);
        height: calc(50% - 10px);
        background: #555; }
      #pics .wrap .right article:nth-of-type(2) {
        width: calc(50% - 10px);
        height: calc(50% - 10px);
        background: #555; }
      #pics .wrap .right article:nth-of-type(3) {
        width: 100%;
        height: calc(50% - 10px);
        background: #555; }

@media screen and (max-width: 999px) {
  #pics {
    padding: 150px 10% 100px; }
    #pics .wrap {
      height: auto;
      flex-wrap: wrap; }
      #pics .wrap .left {
        width: 100%;
        height: 350px;
        margin-bottom: 20px; }
        #pics .wrap .left i {
          font-size: 80px; }
      #pics .wrap .right {
        width: 100%;
        height: auto; }
        #pics .wrap .right article:nth-of-type(1),
        #pics .wrap .right article:nth-of-type(2),
        #pics .wrap .right article:nth-of-type(3) {
          height: 250px; } }
@media screen and (max-width: 639px) {
  #pics {
    padding: 120px 10% 80px; }
    #pics .wrap .right article:nth-of-type(1) {
      width: 100%; }
    #pics .wrap .right article:nth-of-type(2) {
      width: 100%; } }
#banner {
  width: 100%;
  height: 40vh;
  background: #111;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  background: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  #banner h1 {
    font: bold 24px/1 'arial';
    color: #fff; }
  #banner p {
    width: 100%;
    font: 12px/1.2 'arial';
    color: #ccc; }

/*# sourceMappingURL=style.css.map */
