@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.gallery {
	width: 100%;
	overflow: hidden;
	position: relative;

	.search-box {
		width: 100%;
		padding: 50px 10px 20px;
		font-size: 0;

		input {
			width: 250px;
			height: 30px;
			background: #fff;
			border: 1px solid #ddd;
			padding-left: 10px;
		}

		.btn-search {
			width: 80px;
			height: 29px;
			background: #333;
			color: #fff;
			font: bold 12px/29px 'arial';
			text-align: center;
			border: none;
			cursor: pointer;
			margin-left: 5px;
			transform: translateY(-1px);
		}
	}

	.loading {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		opacity: 1;
		transition: 1s;

		&.off {
			opacity: 0;
		}
	}

	.wrap {
		opacity: 0;
		transform: translateY(100px);
		transition: 1s;

		&.on {
			opacity: 1;
			transform: translateY(0);
		}

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		li {
			width: calc(100% / 4);
			float: left;
			padding: 10px;

			> div {
				width: 100%;
				background: #fff;
				padding: 10px;
				box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);

				.thumb {
					width: 100%;
				}

				p {
					font: 18px/1.2 'Architects Daughter';
					color: #777;
					margin-top: 10px;
					margin-bottom: 20px;
				}

				.profile {
					width: 100%;

					img {
						width: 36px;
					}

					span {
						display: inline-block;
						font: 12px/1 'arial';
						color: orange;
						margin-left: 5px;
						transform: translateY(-10px);
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.gallery {
		.wrap {
			li {
				width: calc(100% / 2);
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.gallery {
		.wrap {
			li {
				width: calc(100% / 1);
			}
		}
	}
}
