@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.gallery {
	width: 100%;
	padding: 50px;
	overflow: hidden;

	.wrap {
		&::after {
			content: '';
			display: block;
			clear: both;
		}

		li {
			width: calc(100% / 4);
			float: left;
			padding: 10px;

			> div {
				width: 100%;
				background: #fff;
				padding: 20px;

				img {
					width: 100%;
				}

				p {
					font: 18px/1.2 'Architects Daughter';
					color: #777;
					margin-top: 10px;
					margin-bottom: 20px;
				}
			}
		}
	}
}
