.youtube {
	.inner {
		.wrap {
			article {
				width: 100%;
				padding: 20px 0;
				border-bottom: 1px solid #ddd;

				&::after {
					content: '';
					display: block;
					clear: both;
				}

				h2 {
					float: left;
					width: 24%;
					padding-right: 20px;
				}

				.txt {
					float: left;
					width: 46%;
					padding-right: 20px;
				}

				.pic {
					float: left;
					width: 30%;
					height: 150px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
}
