header {
	width: 100%;
	height: 120px;
	padding: 50px 10% 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;

	h1 {
		a {
			font: bold 24px/1 'arial';
			color: #333;
		}
	}

	ul {
		display: flex;
		gap: 20px;

		&#gnb {
			gap: 40px;
			a {
				font: bold 14px/1 'arial';
				color: #777;
			}
		}

		&.sns {
			a {
				font-size: 20px;
				color: #888;
			}
		}
	}

	.btnCall {
		display: none;
	}
}

/*
  [ 반응형 구현 ]
  - 모바일 구문에서 꼭 수정해야 하는 것
    - 넓이값이 고정 px인 요소는 가로 폭이 100%가 되도록 변환
    - 높이값은 고정 px값이라도 상관없음
    - 가능한 세로관련 높이값과 여백을 줄이는 것을 추천
*/
@media screen and (max-width: 1000px) {
	header {
		height: 100px;
		padding: 10px 10% 10px;

		h1 {
			position: relative;
			top: -2px;
			a {
				font: bold 20px/1 'arial';
			}
		}

		ul {
			display: none;
		}

		.btnCall {
			display: block;
			font-size: 20px;
			color: #444;
		}
	}
}
