* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	background: #efefef;
}

// Form
fieldset {
	border: none;
}
table {
	border-collapse: collapse;
}
input,
label {
	vertical-align: middle;
}
.h {
	position: absolute;
	top: -99999px;
	opacity: 0;
}
